{% extends "layouts/base.html" %}

{% block title %} Presentation {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Hero -->
    <section class="section section bg-soft pb-5 overflow-hidden z-2">
        <div class="container z-2">
            <div class="row justify-content-center text-center pt-6">
                <div class="col-lg-8 col-xl-8">
                    <h1 class="display-2 mb-3">CS50W PROJECT 0 AND 1</h1>
                    <p class="lead px-md-6 mb-5"> BOOK STORE <strong> Libreria interactiva</strong>
                        coded in Flask Microframework - MIT License.</p>
                    <div class="d-flex flex-column flex-wrap flex-md-row justify-content-md-center mb-5">
                        <a href="https://appseed.us/apps/flask-apps/flask-neumorphism-uikit"
                           target="_blank" class="btn btn-primary mb-3 mb-lg-0 mr-3"><i class="fas fa-rocket mr-2"></i> See Product</a>
                    </div>
                    <a href="https://themesberg.com" target="_blank" class="d-flex align-items-center justify-content-center flex-column">
                        <img src="/static/assets/img/themesberg.svg" height="25" class="mb-3" alt="Themesberg Logo">
                        <span class="text-muted font-small">&copy; utilizado en parte el tema Themesberg</span>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="section section-lg">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4">
                    <!-- Icon box -->
                    <div class="icon-box text-center mb-5 mb-md-0">
                        <div class="icon icon-shape icon-lg bg-soft shadow-soft border border-light rounded-circle mb-3">
                            <span class="fas fa-box-open"></span>
                        </div>
                        <h2 class="h5 my-3">Over 200 components</h2>
                        <p class="px-lg-4">Beatifully crafted and neumorphism inspired elements</p>
                    </div>
                    <!-- End of Icon box -->
                </div>
                <div class="col-12 col-md-4 mb-5 mb-md-0">
                    <!-- Icon box -->
                    <div class="icon-box text-center">
                        <div class="icon icon-shape icon-lg bg-soft shadow-soft border border-light rounded-circle mb-3">
                            <span class="fas fa-pager"></span>
                        </div>
                        <h2 class="h5 my-3">10+ sections</h2>
                        <p class="px-lg-4">Navigation bars, pricing cards, footers and many more sections to enhance page variety</p>
                    </div>
                    <!-- End of Icon box -->
                </div>
                <div class="col-12 col-md-4 mb-5 mb-md-0">
                    <!-- Icon box -->
                    <div class="icon-box text-center">
                        <div class="icon icon-shape icon-lg bg-soft shadow-soft border border-light rounded-circle mb-3">
                            <span class="far fa-file-alt"></span>
                        </div>
                        <h2 class="h5 my-3">5 example pages</h2>
                        <p class="px-lg-4">We took the time to create a few example pages to show you how neumorphic pages can look like</p>
                    </div>
                    <!-- End of Icon box -->
                </div>
            </div>
        </div>

    <div class="section bg-primary pt-0 section-lg">
        <div class="container">
            <!-- Title -->

            <div class="row">
                <div class="col text-center">
                    <div class="mt-6 mb-5">
                        <span class="h5 text-center">Dismissible Alerts with Icons</span>
                    </div>
                </div>
            </div>
            <!-- End of Title -->
            <div class="row justify-content-center">
                <div class="col-12 col-md-10">
                    <div class="alert alert-secondary alert-dismissible shadow-soft fade show" role="alert">
                        <span class="alert-inner--icon"><span class="fas fa-exclamation-circle"></span></span>
                        <span class="alert-inner--text"><strong>Warning!</strong> Better check yourself, you're not
                            looking too good.</span>
                        <button type="button" class="close text-dark" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="alert alert-success alert-dismissible shadow-soft fade show" role="alert">
                        <span class="alert-inner--icon"><span class="far fa-thumbs-up"></span></span>
                        <span class="alert-inner--text"><strong>Well done!</strong> You successfully read this
                            important alert message.</span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="alert alert-info alert-dismissible shadow-soft fade show" role="alert">
                        <span class="alert-inner--icon"><span class="far fa-bell"></span></span>
                        <span class="alert-inner--text"><strong>Heads up!</strong>This alert needs your attention,
                            but it's not super important.</span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="alert alert-danger alert-dismissible shadow-soft fade show" role="alert">
                        <span class="alert-inner--icon"><span class="fas fa-fire"></span></span>
                        <span class="alert-inner--text"><strong>Oh snap!</strong> Change a few things up and try
                            submitting again.</span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>

    </section>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
